* {
  margin: 0;
  padding: 0; }

*,
::after,
::before {
  box-sizing: border-box; }

html {
  box-sizing: inherit; }

body {
  background: color #777;
  position: relative;
  font-family: sans-serif; }

.menu {
  width: 100%;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  margin: 0;
  display: flex;
  justify-content: center; }
  .menu__nav {
    height: auto;
    border-radius: 1.5rem;
    padding: 1rem;
    display: flex; }
  .menu__nav-link {
    background-color: blue;
    padding: .7rem;
    border-radius: .5rem;
    color: #fff;
    text-decoration: none;
    margin: 0 .5rem; }

.section-map {
  margin-top: 6rem;
  display: flex;
  justify-content: center;
  align-items: center; }

.mapsvg {
  fill: gray; }

svg path:hover {
  animation: alert .8s infinite;
  transform: translateY(1.4); }

@keyframes alert {
  0% {
    fill: orangered; }
  50% {
    fill: gray; }
  100% {
    fill: orangered; } }
