.menu {
width: 100%;
box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
margin: 0;
display: flex;
justify-content: center;



    &__nav {
        height: auto;
        border-radius: 1.5rem;
        padding: 1rem;
        display: flex;
    }

    &__nav-link {
        background-color: blue;
        padding:.7rem;
        border-radius:.5rem;
        color:#fff;
        text-decoration: none;
        margin:0 .5rem;
    }
}