.menu {
  box-shadow: 0 0 5rem 4rem rgba(#777, 0.2);
  margin: 0;

  border-radius: 1rem;
  position: fixed;
  top: 2rem;
  right: 2rem;
  overflow: hidden;

  &__nav {
    height: auto;
    background-color: #fff;
    padding: 1rem;
    display: flex;
  }

  &__nav-link {
    background-color: blue;
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: #fff;
    text-decoration: none;
    margin: 0.3rem;
  }
}
